body {
  margin: 0;
}
.post {
  border: 2px solid pink;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main";
  grid-gap: 2px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  background-color: #a7ffeb;
  grid-area: nav;
}

.sidebar {
  position: sticky;
  overflow-y: scroll;
  grid-area: sidebar;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main {
  grid-area: main;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
}

.content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 25%;
  padding: 20px;
}
